.disheBox {
    margin-top: 20px;

    .deleteProduct {
        color: var(--red-600);
        cursor: pointer;
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
        border: 1px solid var(--gray-300);
        transition: 0.3s;
        background-color: var(--red-600);
        color: #fff;
    }


    img {
        height: 200px;
        width: 330px;
    }

    .dishSubtitles {
        width: 330px;
        padding: 20px;
        border: 1px solid var(--gray-300);

        p {
            height: 50px;
            font-size: 14px;
        }

        h3 {
            max-width: 15ch;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .favoriteIcon {
            cursor: pointer;
        }

        .favoriteIconChecked {
            cursor: pointer;
            color: var(--red-600);
        }

        button {
            width: 160px;
            height: 40px;
            padding-right: 1px;
            background-color: var(--red-600);
            color: #fff;
            border: none;
            font-size: 12px;
            border-radius: 5px;
            transition: 0.3s;

            .icon {
                margin-right: 10px;
                margin-left: 10px;
                font-size: 18px;
            }

            &:hover {
                filter: brightness(0.8);
            }
        }
    }
}

@media(max-width:430px) {
    .disheBox {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 20px;
    }
}