.responsiveMenu {
    background-color: #252525;
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    z-index: 1000;
    padding: 20px;

    .responsiveMenuIcons {

        .icon {
            color: #fff;
        }

        .cartAmount {
            background-color: var(--red-500);
            width: 10px;
            height: 10px;
            padding: 5px;
            border-radius: 50%;
            position: absolute;
            top: 15px;
            left: 30px;
            span {
                font-size: 8px;
                color: #fff;
            }
        }
    }

    nav {
        color: #fff;
        .active {
            color: var(--red-500);
            border-bottom: 1px solid var(--red-500);
        }
    }
}