.pageContainer {

    a {
        button {
            padding: 10px;
            border: none;
            background-color: var(--red-600);
            color: #fff;
            border-radius: 10px;
            transition: 0.3s;
            height: 50px;

            &:hover {
                filter: brightness(0.8);
            }
        }
    }
}